body {
	background-color: #f7f7f7 !important;
	color: !important;
}

@media (min-width: 1200px)
.container {
	width: 1199px;
}

a {
	text-decoration: none !important;
}

#down-btn {
	margin: auto;
	display: block;

}

.container {
margin: 0 auto;
width: 100% !important;
}

#page-logo {
	margin-bottom: 20px;
	height: 100vh;
	display: table;
}

#page-logo-center {
	vertical-align: middle;
	display: table-cell;
}

#page-logo img {
	display: block;
	margin: auto;
}

.glyphicon-circle-arrow-down {
	font-size: 60px;
	color: rgba(199, 199, 199, 0.74);
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.glyphicon-circle-arrow-down:hover {
	color: #00D181;
}

#page-logo span{
	text-align: center !important;
	display: block !important;
		 -webkit-animation: fadein 10s;

}

/*HOVER EFFECT BOB*/

-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


/*ICONS*/

#icon_page {
	margin: 0 auto;
	display: table;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100vh;
}

#icon_page_mobile {
	margin: 0 auto;
	display: table;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100vh;
}

/*#icon_page_mobile {
	margin: 0 auto;
	display: table !important;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100vh;
}*/

#icon_set {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: auto;

}

#icon_set_mobile {
	display: table-cell;
	vertical-align: middle;

}

/*#mark_media {
	margin-top: 15px !important;
}*/

.icons {
	width: 23%;
	margin: 10px;
}

.icons_mobile {

	width: 26vh;
	margin: 10px;
}

.icon_titles {
	vertical-align: middle !important;
}

.icon_titles h2 {
	font-size: 7vw !important;
}

#chair_icon {
	opacity: .5;
}


#calc_link:active{
	opacity: 30%;
}

.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.yellow {
	color: #F4CC25;
}

.blue {
	color: #2791F2;
}

.orange {
	color: #DB8E3A;
	opacity: .5;
}

.strikethrough {
	text-decoration: line-through;
}

/*BTN*/


.btn-dtn {
	color: white;
}

.btn {
	-webkit-transition: border 0.3s !important;
	-moz-transition: border 0.3s !important;
	-o-transition: border 0.3s !important;
	transition: border 0.3s !important;
}

.btn{
    padding: 9px 15px !important;
}

.btn:hover{
	color: #43d1af !important;
	border: solid 2px #43d1af;
}

/*CALCULATOR PAGE*/

#calculator_page {
	margin: 0 auto;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100vh;
	background-color: #F4CC25;
	overflow: auto;

}

#coffee_page {
	margin: 0 auto;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100vh;
	background-color: #2791F2;

}

#chill_page {
	margin: 0 auto;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100vh;
	background-color: #DB8E3A;

}


/*INPUT STYLING BEGIN*/



well {
	margin: -10mpx !important;
}

input {
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-name {
	font-weight: bold;

}

.input-style {
	padding: 10px;
	transition: border 0.3s;
	outline: none;
	margin-bottom: 10px;

}

.input-style:focus,
.input-style.focus {
	border: solid 2px #43d1af;
}

#whatyouwant {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	width: 39%;
}

#add-btn {
	float: right;
	margin-right: 10px;
	border: 2px solid #C0C0C0;
	background-color: transparent;
	color: #C0C0C0;
}

#rmv-btn {
	float: right;
	border: 2px solid #C0C0C0;
	background-color: transparent;
	color: #C0C0C0;
}

#rmv-btn:hover{
	color: #43d1af !important;
	border: solid 2px #43d1af;
}

#add-btn:hover{
	color: #43d1af !important;
	border: solid 2px #43d1af;
}

/*INPUT STYLING END*/

#add_work {
	margin-bottom: 40px;
}

.school-icons {
	width: 23%;
}

.results {
	font-weight: 200;
}

#dropthiscourse {

	color: #D23E46;
}

#aced {
	color: #00D181;
}
