<div id="mark-calc" class="container">

	<div class="container" id="page-logo">
		<img src="img/dtn.gif">
		<div>
			<a href="#" onclick="$('#icon_page').animatescroll();" id="down-btn" class="hvr-bob"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
		</div>
	</div>

	<div id="icon_page" class="col-lg-12">
		<div ng-controller="MainCtrl" id="icon_set">
			<a ng-click="open_calculator()" id="calc_link">
				<img id="calc_icon" class="icons" ng-mouseover="calcchange()" ng-mouseleave="calcback()" ng-src="img/{{icons.calc}}.png">
			</a>
			<a ng-click="open_coffee()" id="calc_link">
				<img id="coffee_icon" class="icons" ng-mouseover="coffeechange()" ng-mouseleave="coffeeback()" ng-src="img/{{icons.coffee}}.png">
			</a>
			<img id="chair_icon" class="icons" ng-mouseover="chairchange()" ng-mouseleave="chairback()" ng-src="img/{{icons.chair}}.png">
			<h1>I need to <b class="{{icons.class}}"><b class="strikethrough">{{icons.netflix}}</b>{{icons.phrase}}</b></h1>
		</div>
	</div>
</div>
